RemoteSystemsTempFiles/
Vivado/.Xil/
Vivado/logs/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
bootimages/
# UPDATER START
Vivado/auboard/
PetaLinux/auboard/
# UPDATER END
